@tailwind base;
@tailwind components;
@tailwind utilities;

/* {
    color:#fff;
}

body{
    background-color: #000;
}

#tasklist::-webkit-scrollbar{
    display: none;
} */

@font-face {
    font-family: "Poppins";
    src: url(./assets/Poppins-Medium.ttf);
}



*{
    font-family: 'Poppins';
    font-weight: 400;
}

